.modal-header{
  padding:30px 45px;
  background: #77cc6d;
  color: white;
}

.modal-body{
  text-align: center;
  padding: 5% 2% 2% 2%;
  background: #f8f8f8;
}

.lblogin{
  background: #F0F0F0;
  font-size: 19px;
  color: #000000;
  text-align: center;
  padding: 8px 0px 8px 0px;
  width: 45%;
  border: 1px solid #BFBFBF;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.inplogin{
  font-size: 18px;
  padding: 10px 0 10px 0;
  width: 50%;
  margin: 2% 0 0 1%;
  border: 1px solid #BFBFBF;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

#btn-ingresar{
  margin-top: 5%;
}

