<div class="container">
  <h1 class="titulo">Iniciar Sesión</h1><br>
  <div class="row" >
    <div class="col-sm-3"></div>
    <div id="loginBody" class="col-sm-6">
      <label class="lblogin">Modo: </label>
      <select [(ngModel)]="usersSeleccionado" name="usersSeleccionado" class="inplogin" (change)="onChange(usersSeleccionado)">
        <option *ngFor="let user of tipoUsers" [value]="user.rol">{{user.rol}}</option>
      </select>

      <label class="lblogin">Usuario:</label>
      <input class="inplogin" maxlength="13" minlength="10" type="text" name="user"
             [(ngModel)]="ruc_cedula" #user="ngModel" placeholder="Cédula o RUC " />
      <div *ngIf="user.errors?.minlength&&user.touched==true" class="alert alert-warning animated bounceIn" role="alert">
        <strong>¡Cuidado!</strong> La cédula tiene 10 dígitos y el ruc 13.
      </div>

      <label class="lblogin">Contraseña: </label>
      <input class="inplogin" maxlength="16" type="password" name="password"
             [(ngModel)]="contrasenia" placeholder="Contraseña"/>

      <button class="btn btn-primary" (click)="ingresarUsuario()" >Ingresar</button>

      <div *ngIf="!estaLogeado" class="alert alert-danger">
        El usuario o la contraseña son incorrectos
      </div>

    </div>
    <div class="col-sm-3"> </div>
  </div>
</div>




