<!--MODAL para editar el registro de un Estudiante-->
<div class="modal fade" id="editarModal" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!--Contenido del modal-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Actualizar Datos Personales del Estudiante</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-success" *ngIf="status">
          Datos actualizados correctamente
        </div>

        <div class="alert alert-danger" *ngIf="status === false">
          Los datos no se actualizaron
        </div>

        <form #editForm="ngForm" (ngSubmit)="onSubmit()">
          <label class="user">La cédula es el usuario</label>
          <div class="form-group">

            <label class="lbl">Cédula:</label>
            <input class="inp" required maxlength="10"
                   placeholder="Ingrese la cédula" name="cedulaEstudiante" type="text"
                   [(ngModel)]="estudiante.cedula"
                   #cedulaEstudiante="ngModel"
            />
            <div *ngIf="!cedulaEstudiante.valid && cedulaEstudiante.touched" class="alert alert-danger">
              La cédula es obligatoria
            </div>

            <label class="lbl">Nombre:</label>
            <input class="inp" required maxlength="60"
                   placeholder="Ingrese el nombre" name="nombreEstudiante" type="text"
                   [(ngModel)]="estudiante.nombre"
                   #nombreEstudiante="ngModel"
            />
            <div *ngIf="!nombreEstudiante.valid && nombreEstudiante.touched" class="alert alert-danger">
              El nombre es obligatorio
            </div>

            <label class="lbl">Edad:</label>
            <input class="inp" maxlength="2"
                   placeholder="Ingrese la edad" name="edadEstudiante" type="text"
                   [(ngModel)]="estudiante.edad"
                   #edadEstudiante="ngModel"
            >

            <label class="lbl">Asignar Terapeuta:</label>
            <select [(ngModel)]="estudiante.idTerapeuta" name="terapeutaSeleccionado" class="inp">
              <option value="" disabled selected>Actual - {{estudiante.idTerapeuta['nombre']}}</option>
              <option *ngFor="let tera of terapeutas" [value]="tera.id">
                {{tera.nombre}}
              </option>
            </select>
            {{estudiante.idTerapeuta}}
            <h3 class="tituloModal">&nbsp;&nbsp;Datos del Representante</h3>
            <label class="lbl">Nombre:</label>
            <input class="inp" required maxlength="60"
                   placeholder="Ingrese el nombre" name="nombreRepresentante" type="text"
                   [(ngModel)]="estudiante.nombreRepresentante"
                   #nombreRepresentante="ngModel"
            />
            <div *ngIf="!nombreRepresentante.valid && nombreRepresentante.touched" class="alert alert-danger">
              El nombre es obligatorio
            </div>

            <label class="lbl">Celular:</label>
            <input class="inp" required maxlength="10"
                   placeholder="Ingrese el celular" name="celularRepresentante" type="text"
                   [(ngModel)]="estudiante.celularRepresentante"
                   #celularRepresentante="ngModel"
            >
            <div *ngIf="celularRepresentante.touched && !celularRepresentante.valid" class="alert alert-danger">
              El celular es obligatorio
            </div>

            <label class="lbl">Dirección:</label>
            <input class="inp" maxlength="60"
                   placeholder="Ingrese la dirección" name="direccionRepresentante" type="text"
                   [(ngModel)]="estudiante.direccionRepresentante"
                   #direccionRepresentante="ngModel"
            >
            <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Actualizar</button>

          </div>
        </form>

        <div class="alert alert-success" *ngIf="actulizacionC">
          La contraseña se actualizó correctamente
        </div>

        <div class="alert alert-danger" *ngIf="actulizacionC === false">
          La contraseña no se actualizó
        </div>

        <form #contraseniaForm="ngForm">
          <h2>Actualizar Contraseña</h2>
          <label class="lbl">Contraseña Antigua:</label>
          <input class="inp" required minlength="5" maxlength="15"
                 placeholder="Ingrese la contraseña" name="contraseniaAntigua" type="password"
                 [(ngModel)]="contrasenias.antigua"
                 #contraseniaAntigua="ngModel"
          />
          <div
            *ngIf="!contraseniaAntigua.valid && contraseniaAntigua.touched && !contraseniaAntigua.minLength"
            class="alert alert-danger">
            La contraseña no es válida, debe tener entre 5 y 15 caracteres
          </div>

          <label class="lbl">Contraseña Nueva:</label>
          <input class="inp" required minlength="5"
                 placeholder="Ingrese la contraseña" name="contraseniaNueva" type="password"
                 [(ngModel)]="contrasenias.nueva"
                 #contraseniaNueva="ngModel"
          />
          <div
            *ngIf="!contraseniaNueva.valid && contraseniaNueva.touched && !contraseniaNueva.minLength"
            class="alert alert-danger">
            La contraseña no es válida, debe tener entre 5 y 15 caracteres
          </div>

          <button (click)="actualizarContrasenia(contraseniaForm);" class="btn btn-primary" type="submit" [disabled]="!contraseniaForm.valid">Actualizar Contraseña</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="salir()" data-dismiss="modal">Salir</button>
      </div>

    </div>
  </div>
</div>
