/*Propiedades Generales*/
body{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*Botones*/
.btn{
  margin: 2% 0 1% 0;
  font-size: 16px;
}

/*Menu*/
.navbar-default{
  background:#0C0A0B;
  font-size: 17px;
  margin: 0;
}

.navegation.col-sm-12{
  font-family: Berlin Sans FB, serif;
  font-size: 110%;
}

.navbar .active{
  border-bottom: 2px solid #FF5200;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-brand:hover{
  color: #D6D6D6;
}

.navbar-default .navbar-nav>li>a:hover{
  border-bottom: 2px solid #FF8F00;
  color: #B8B8B8;
}

/*Busqueda de  datos*/
#cabezeraGestionDatos{
  margin: 1% 10% 3% 10%;
  border-top: double #BFBFBF;
  border-bottom: double #BFBFBF;
  padding: 25px 0 23px 0;
}

#busqueda{
  border: 2px solid #A5A4A6;
  border-radius: 8px;
  background-color: white;
}

.inpBusqueda{
  font-size: 130%;
  padding: 2px 0 5px 0;
  border-style: none;
  width: 95%;
}
.inpBusqueda:focus{
  outline:0px;
}

.btnBuscar{
  padding: 6px 0 5px 0;
  width: 1%;
  background: white;
  border-style: none;
}

/*Tabla*/
.table-responsive{
  height: 600px;
  overflow-y: auto;
  margin: 1% 10% 2% 10%;
}

.table>thead>tr>th {
  font-size: 18px;
  border-top: 2px solid #A5A4A6;
  border-bottom: 2px solid #A5A4A6;
}

.table>tbody>tr>td{
  font-size: 17px;
  background-color: #FAF9FB;
  border-bottom: 1px solid #A5A4A6;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #EDE6F4;
}

/*Titulos principales*/
.titulo{
  margin: 2% 0 1% 0;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: black;
}

/*Modal - pop-up*/
.modal-title{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.modal-content{
  background-color: #F5F5F5;
}
.form-group{
  text-align: center;
}

/*Color para presentar cual es el usuario*/
.user{
  color: #F0433A;
}

/*Label*/
.lbl{
  background-image: linear-gradient(#F2C0BC,#FCE4E4,#F2C0BC);
  color:#0C0A0B ;
  font-size: 18px;
  text-align: center;
  padding: 8px 0px 8px 0px;
  width: 35%;
  margin: 0 0 1% 0;
  border: 1px solid #BFBFBF;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

/*Input*/
.inp{
  background-color: white;
  font-size: 18px;
  padding: 8px 0 8px 0;
  width: 60%;
  margin: 2% 0 0 0;
  border: 1px solid #BFBFBF;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

/*Tamaños para los diferentes tamaños de las pantallas*/
@media(max-width: 1580px) {
  .inp {
    font-size: 18px;
  }
  .lbl{
    font-size: 18px;
  }
  .table>thead>tr>th{
    font-size: 18px;
  }
  .table>tbody>tr>td{
    font-size: 17px;
  }
  .table-responsive{
    margin: 1% 10% 2% 10%;
  }
}

@media(max-width:992px ) {
  .inp {
    font-size: 17px;
  }
  .lbl{
    font-size: 17px;
  }
  .table>thead>tr>th{
    font-size: 17px;
  }
  .table>tbody>tr>td{
    font-size: 16px;
  }
}

@media(max-width:768px ) {
  .inp {
    font-size: 16px;
  }
  .lbl{
    font-size: 16px;
  }
  .table>thead>tr>th{
    font-size: 16px;
  }
  .table>tbody>tr>td{
    font-size: 15px;
  }
}

/*PARA EL MODAL ELIMINAR*/

/*Para el boton si de eliminar*/
#btnSi{
  margin-top: 3%;
}

.btn-default:hover {
  background-color: #575757 !important;
  color: white;
}

.preguntaEliminar{
  font-size: 17px;
}

.text-warning{
  font-size: 16px;
}

/*Para titulos del modal*/
.tituloModal{
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 13px;
}

/**Para las imagenes de SA */
.imagenSA{
  max-width: 100%;
  height: 30%;
}

