body{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background: #EBF2DC;
}

.titulo{
  margin-top: 4%;
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
  font-weight: bold;
}


