<!--MODAL para ver datos de un Terapeuta-->
<div class="modal fade" id="verModal" role="dialog"  data-backdrop="static">
  <div class="modal-dialog">

    <!--Contenido del modal-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos Personales del Terapeuta</h4>
      </div>

      <div class="modal-body">
        <form>
          <label class="user">La cédula es el usuario</label>
          <div class="form-group">
              <label class="lbl">Cédula:</label>
              <input class="inp" name="cedulaTerapeuta" type="text"
                     [(ngModel)]="terapeuta.cedula" disabled
              />
              <label class="lbl">Nombre:</label>
              <input class="inp" name="nombreTerapeuta" type="text"
                     [(ngModel)]="terapeuta.nombre" disabled
              />
              <label class="lbl">Contraseña:</label>
              <input class="inp" name="contraseniaTerapeuta" type="password"
                     [(ngModel)]="terapeuta.contrasenia" disabled
              />
              <label class="lbl">Correo:</label>
              <input class="inp" name="correoTerapeuta" type="email"
                     [(ngModel)]="terapeuta.correo" disabled
              >

            <label class="lbl">Dirección:</label>
            <input class="inp" name="direccionTerapeuta" type="text"
                   [(ngModel)]="terapeuta.direccion" disabled
            >
            <label class="lbl">Celular:</label>
            <input class="inp" name="celularTerapeuta" type="text"
                   [(ngModel)]="terapeuta.celular" disabled
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>
