#img-Encabezado{
  width: 60%;
  height:50%;
  margin: 2% 0 3% 0;
}

#titulo-Encabezado{
  font-size: 350%;
  text-transform: uppercase;
  margin: 6% 10% 0 0;

}

#subtitulo-Encabezado{
  font-size: 120%;
  margin: 2% 25% 0 0;
  position: relative;
  /* Safari 4.0 - 8.0 */
  -webkit-animation: subtitulo 12s linear 2s infinite alternate;
  /* Standard syntax */
  animation: subtitulo 15s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes subtitulo {
  0%   {color:#1E1A2D; left:0; top:0;}
  50%  {color:#524F7D; left:20%; top:0;}
  100% {color:#1E1A2D; left:0; top:0;}
}

/* Standard syntax */
@keyframes subtitulo {
  0%   {color:#1E1A2D; left:0; top:0;}
  50%  {color:#524F7D; left:15%; top:0;}
  100% {color:#1E1A2D; left:0; top:0;}
}


header{
  background-image: linear-gradient(#BFB78E,#EBF2DC,#BFB78E);
  text-align: center;
  color: #1E1A2D;
}

.btn-default {
  background-color: #0A3566;
  color: white;
  border: 1px solid #0A2E57;
}

.btn-default:hover {
  background-color: #061C37;
  color: white;
}

footer{
  padding: 0 2% 0 2%;
  color: white;
  margin-top: 6%;
  background: #4C0013;
  font-size: 100%;
}
