<header>
  <div class="line-Header"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <img id="img-Encabezado" src="assets/Imagenes/Header/logo.png" alt="Logo de la página web">
      </div>
      <div class="col-xs-4"><p id="subtitulo-Encabezado">La discapacidad no es un limitante</p></div>
      <div class="col-xs-6" id="encabezadoTituloySub">
        <label id="titulo-Encabezado">Inclusión</label>

      </div>

    </div>
  </div>
</header>

<section>
  <!--Para el login-->
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="container">
    <br>
    <label id="title-footer">Contáctanos: </label>
    <div class="row">
      <div class="col-xs-5">
        <p>&nbsp;<strong>Correo:</strong> apps.inclusivas@epn.edu.ec</p>
        <p>&nbsp;<strong>Télefono:</strong> 025478963</p>
      </div>
      <div class="col-xs-4">
        <a href="http://fis.epn.edu.ec/" role="link">Facultad de Ingeniería de Sistemas</a>

      </div>
      <div class="col-xs-3">
        <a href="http://www.epn.edu.ec/" role="link">Escuela Politécnica Nacional</a>

      </div>
    </div>
  </div>
  <div class="line-Header"></div>
</footer>


