<header >
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <label id="titulo-Encabezado" >Aplicaciones Accesibles</label>
      <p id="subtitulo-Encabezado" >La discapacidad no es un limitante</p>
    </div>
    <div class="col-sm-5">
      <img id="img-Encabezado" class="img-thumbnail" src="assets/Imagenes/Header/Img_Encabezado1.jpg" alt="Fotografía de https://unsplash.com/@element5digital">
    </div>
    <div class="col-sm-1"></div>
  </div>
</header>

<section>
  <!--Para el login-->
  <router-outlet></router-outlet>
</section>

<footer>
  <label>Para servicio de mantenimiento: </label>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <p>&nbsp;<strong>Correo:</strong> manteminiento.apps@epn.edu.ec</p>
      <p>&nbsp;<strong>Télefono:</strong> 025478963</p>
    </div>
    <div class="col-sm-4">Facultad de Ingeniería de Sistemas
      <a href="http://fis.epn.edu.ec/" class="btn btn-default btn-sm" role="button">FIS</a>
    </div>
    <div class="col-sm-3"> Escuela Politécnica Nacional
      <a href="http://www.epn.edu.ec/" class="btn btn-danger btn-sm">EPN</a>
    </div>
  </div>

</footer>


