#img-Encabezado{
  width: 60%;
  height: auto;
  margin: 2% 0 3% 0;
}

#titulo-Encabezado{
  font-size: 320%;
  text-transform: uppercase;
  text-align: center;
  margin: 7% 10% 0 0;
}

#subtitulo-Encabezado{
  font-size: 120%;
  margin: 2% 25% 0 0;
  position: relative;
  /* Safari 4.0 - 8.0 */
  -webkit-animation: subtitulo 12s linear 2s infinite alternate;
  /* Standard syntax */
  animation: subtitulo 15s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes subtitulo {
  0%   {color:#1E1A2D; left:0; top:0;}
  50%  {color:#524F7D; left:20%; top:0;}
  100% {color:#1E1A2D; left:0; top:0;}
}

/* Standard syntax */
@keyframes subtitulo {
  0%   {color:#1E1A2D; left:0; top:0;}
  50%  {color:#524F7D; left:15%; top:0;}
  100% {color:#1E1A2D; left:0; top:0;}
}

header{
  background-image: linear-gradient(#F2C0BC,#FDE9E8,#F2C0BC);
  text-align: center;
  color: #1E1A2D;
  padding: 0 5% 0 10%;
}

section{
  background: #F3F2F5;
  padding: 0 0 6% 0;
}

.btn-default {
  background-color: #0A3566;
  color: white;
  border: 1px solid #0A2E57;
}

.btn-default:hover {
  background-color: #092749;
  color: white;
}

footer{
  padding: 1% 2% 0 2%;
  color: white;
  background: #0C0A0B;
  font-size: 100%;
}
