.line-Header{
  height: 4px;
  background-color: #77cc6d;
  display: block;
  margin-top: 0;

}

#img-Encabezado{
  margin-left: -10%;
}

#encabezadoTituloySub{
  text-align: center;
}

#titulo-Encabezado{
  font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 40px;
  padding: 2%;
  margin-left: -30%;

}

#subtitulo-Encabezado{
  font-size: 18px;
  color: #656565;
  text-align: center;
  padding: 5%;

  position: relative;
  /* Safari 4.0 - 8.0 */
  -webkit-animation: subtitulo 4s linear 2s infinite alternate;
  /* Standard syntax */
  animation: subtitulo 5s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes subtitulo {
  0%   {color:#1E1A2D; left:0; top:0;}
  100%  {color:#524F7D; left:15px; top:0;}
  100% {color:#1E1A2D; left:0; top:0;}
}

/* Standard syntax */
@keyframes subtitulo {
  0%   {color:#1E1A2D; left:0; top:0;}
  50%  {color:#524F7D; left:15px; top:0;}
  100% {color:#1E1A2D; left:0; top:0;}
}


@media(max-width: 1580px) {
  #titulo-Encabezado {
    font-size: 40px;
  }
  #subtitulo-Encabezado{
    font-size: 18px;
  }
}

@media(max-width: 768px) {
  #titulo-Encabezado {
    font-size: 37px;
  }
  #subtitulo-Encabezado{
    font-size: 16px;
  }
}

header{
 /* background-image: linear-gradient(#f8f8f8,#f8f8f8,#f8f8f8);*/
  background: #f8f8f8 ;
  color: #1E1A2D;

}

section{
  background: #fff;

}

.btn-default {
  background-color: #0A3566;
  color: white;
  border: 1px solid #0A2E57;
}

.btn-default:hover {
  background-color: #092749 !important;
  color: white;
}

footer{
  color: black;
  background:#f8f8f8;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

#title-footer{
  font-size: 18px;
}
