<header >
  <div class="row">
    <div class="col-sm-7">
      <label id="titulo-Encabezado" >Aplicaciones Accesibles</label>
    </div>
    <div class="col-sm-5">
      <img id="img-Encabezado" class="img-thumbnail" src="assets/Imagenes/Header/Img_Encabezado2.jpg">
    </div>
  </div>
</header>

<section>
<!-- <app-login></app-login>-->dsdsdasdas
<!--<router-outlet></router-outlet> estaba este-->
</section>

<footer>

  <h4 class="tituloFooter">Para servicio de mantenimiento: </h4>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <label class="textFooter" ><strong>Correo:</strong> servi.manteminiento.apps@epn.edu.ec</label>
      <br>
      <label class="textFooter"><strong>Télefono:</strong> 025478963</label>

    </div>
    <div id="linkEPN" class="col-sm-5">
      <a href="http://www.epn.edu.ec/" class="btn btn-danger pull-right">EPN</a>
    </div>
  </div>

</footer>


